@namespace Client.Layout
@inject Client.Services.UserService LoginService


<div class="bottom-nav">
    <button class="nav-button" @onclick="@(() => NavigateTo("/journeys"))">Journeys</button>
    <button class="nav-button" @onclick="@(() => NavigateTo("/buddys"))">Buddys</button>
    <button class="nav-button" @onclick="@(() => NavigateTo("/dangerous-places"))">Dangerous <br /> Places</button>
    <button class="nav-button" @onclick="@(() => NavigateTo("/settings"))">Settings</button>
    <button class="nav-button logout-button" @onclick="Logout">@username <br /> Logout</button>
</div>

@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;
    private string username = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        ServiceResult<UserDto>? result = await LoginService.GetCurrentUserAsync();
        if (!result.IsSuccess)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            if (result.Data != null)
                username = result.Data.Username;
        }
    }

    private void NavigateTo(string url)
    {
        Navigation.NavigateTo(url);
    }

    
    private async Task Logout()
    {
        ServiceResult? result = await LoginService.LogoutAsync();

        if (result.IsSuccess)
            Navigation.NavigateTo("/");
    }
}
