@using Shared.Models.Dtos.Users
@inherits LayoutComponentBase
@inject Client.Services.UserService LoginService
@inject NavigationManager Navigation


<div class="layout-root">
    <div class="layout-content">
        @Body
    </div>

    <div class="bottom-nav">
        <button class="nav-button" @onclick="@(() => NavigateTo("/JourneyHome"))"><img src="icons/Navigation/footer-home zwart.png" alt="Home"/></button>
        <button class="nav-button" @onclick="@(() => NavigateTo("/buddys"))"><img src="icons/Navigation/footer-contacten.png" class="footer-icon" alt="Buddies"/></button>
        <button class="nav-button" @onclick="@(() => NavigateTo("/dangerous-places"))"><img src="icons/Navigation/footer-sos.png" class="footer-icon" alt="Sos"/></button>
        <button class="nav-button" @onclick="@(() => NavigateTo("/settings"))"><img src="icons/Navigation/footer-account.png" class="footer-icon" alt="Account"/></button>
        <button class="nav-button logout-button" @onclick="Logout">
            @username <br /> Uitloggen
        </button>
    </div>
</div>

@code {
    private string username = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        ServiceResult<UserDto>? result = await LoginService.GetCurrentUserAsync();

        if (!result.IsSuccess)
            Navigation.NavigateTo("/");
        else if (result.Data != null)
            username = result.Data.Username;
    }

    private void NavigateTo(string url)
    {
        Navigation.NavigateTo(url);
    }

    private async Task Logout()
    {
        ServiceResult? result = await LoginService.LogoutAsync();

        if (result.IsSuccess)
            Navigation.NavigateTo("/");
    }
}
