.myjourneys-background {
    background-image: url('/images/backgrounds/MyJourneys-bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    min-height: calc(100dvh - 64px);
    padding: 4rem 1.5rem 90px;
}

.journey-list {
    display: grid;
    grid-template-columns: 1fr; /* mobile: one card */
    justify-content: center;
    gap: 3.5rem;
    padding-bottom: 90px;
}

/* Tablet / small desktop */
@media (min-width: 700px) {
    .journey-list {
        grid-template-columns: repeat(2, 1fr); /* 2 cards side-by-side */
        gap: 3rem 3rem;
    }
}

/* Large desktop */
@media (min-width: 1100px) {
    .journey-list {
        grid-template-columns: repeat(3, 1fr); /* 3-column layout */
        gap: 3rem;
    }
}
/* very large desktop */
@media (min-width: 1500px) {
    .journey-list {
        grid-template-columns: repeat(4, 1fr); /* 4-column layout */
        gap: 3rem;
    }
}
.page-header {
    color: white;
}
/* BACK BUTTON */
.back-button {
    color: #7b2cbf;
    border-color: #7b2cbf;
}

/* PAGE TITLE */
.top-title {
    color: white;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
}