.chat-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 10px;
}

.chat-message {
    padding: 6px 10px;
    background: white;
    border-radius: 8px;
    margin-bottom: 6px;
}

.chat-input {
    display: flex;
    padding: 0.6rem;
    border-top: 1px solid #ddd;
    background: #fafafa;
    flex-shrink: 0; /* do not shrink */
}

    .chat-input input {
        flex: 1;
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        outline: none;
    }
.send-btn {
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 0.5rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    transition: background 0.2s;
}

    .send-btn:hover {
        background: #0060cc;
    }

.top-title {
    font-size: 1.0rem;
}

.back-button {
    color: #004b6b;
    border-color: #004b6b;
}

    .back-button:hover {
        background: #004b6b;
        color: white;
    }