.home-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
    margin-top: 40px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    padding: 20px;
    height: 120px;
    color: white;
    cursor: pointer;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
}

.card-image-placeholder {
    width: 45%;
    height: 90%;
    border: 2px dashed white;
    border-radius: 10px;
}

.purple-card {
    background-color: #B043C0;
}

.green-card {
    background-color: #1EB989;
}

.blue-card {
    background-color: #003B66;
}
