@page "/"
@inject Client.Services.UserService LoginService
@inject NavigationManager Navigation
@using System.Net

<h3 class="text-xl font-semibold mb-4">Login</h3>

@if (isLoading)
{
    <p>Logging in...</p>
}
else
{
    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label class="block mb-1">Gebruikersnaam</label>
            <InputText @bind-Value="loginModel.Username" class="border rounded px-2 py-1 w-full" />
        </div>

        <div class="mb-3">
            <label class="block mb-1">Wachtwoord</label>
            <InputText @bind-Value="loginModel.Password" type="password" class="border rounded px-2 py-1 w-full" />
        </div>
        <button type="submit">Login</button>


        <button type="button" @onclick="LoginAlice">Login User1: Alice</button>
        <button type="button" @onclick="LoginBob">Login User2: Bob</button>
        <button type="button" @onclick="LoginCharlie">Login User3: Charlie</button>
        <button type="button" @onclick="LoginJoseph">Login User4: Joseph</button>
        <button type="button" @onclick="LoginDiana">Login User5: Diana</button>
        

        <p class="mt-3 text-sm">
            Geen Account? <NavLink class="text-blue-600 underline" href="/register">Registreer</NavLink>
        </p>

        <ValidationSummary />
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="text-red-600 mt-3">@errorMessage</p>
        }
    </EditForm>
}

@code {
    private LoginDto loginModel = new();
    private string? errorMessage;
    private bool isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        ServiceResult? result = await LoginService.IsLoggedInAsync();
        if (result.IsSuccess)
        {
            Navigation.NavigateTo("/Journeys");
        }
    }

 #if DEBUG
    private async Task LoginAlice()
    {
        loginModel.Username = "Alice";
        loginModel.Password = "Password123!";
        await HandleLogin();
    }
    private async Task LoginBob()
    {
        loginModel.Username = "bob";
        loginModel.Password = "Password123!";
        await HandleLogin();
    }
    private async Task LoginCharlie()
    {
        loginModel.Username = "Charlie";
        loginModel.Password = "Password123!";
        await HandleLogin();
    }
    private async Task LoginJoseph()
    {
        loginModel.Username = "Joseph";
        loginModel.Password = "Password123!";
        await HandleLogin();
    }
    private async Task LoginDiana()
    {
        loginModel.Username = "Diana";
        loginModel.Password = "Password123!";
        await HandleLogin();
    }
#endif


    private async Task HandleLogin()
    {
        errorMessage = null;
        isLoading = true;

        ServiceResult? result = await LoginService.LoginAsync(loginModel.Username, loginModel.Password);

        if (result.IsSuccess)
            Navigation.NavigateTo("/Journeys");
        else
            errorMessage = result.Message ?? "Login failed. Please try again.";

        loginModel.Password = string.Empty;
        isLoading = false;
    }
}
