@page "/Main"

@inject Client.Services.LoginService LoginService
@inject NavigationManager Navigation

<h3>Main</h3>

<button @onclick="Logout">Logout</button>

@code {
    string? errorMessage;
    bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        ServiceResult? result = await LoginService.IsLoggedInAsync();
        if (result.IsSuccess)
        {
            Navigation.NavigateTo("/Main");
        }
    }

    private async Task Logout()
    {
        errorMessage = null;
        isLoading = true;

        ServiceResult? result = await LoginService.LogoutAsync();

        if (result.IsSuccess)
            Navigation.NavigateTo("/");
        else
            errorMessage = result.Message ?? "Login failed. Please try again.";

        isLoading = false;
    }
}
