@inject NavigationManager Nav

<div class="page-header">
    @if (!string.IsNullOrWhiteSpace(BackTo))
    {
        <button class="back-button" @onclick="GoBack">⟵</button>
    }
    <h3 class="top-title">@Title</h3>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string? BackTo { get; set; }
    [Parameter] public string BackButtonClass { get; set; } = "";
    [Parameter] public EventCallback OnBack { get; set; }

    private async Task GoBack()
    {
        if (OnBack.HasDelegate)
        {
            await OnBack.InvokeAsync();
        }
        else if (!string.IsNullOrEmpty(BackTo))
        {
            Nav.NavigateTo(BackTo);
        }
    }
}
